@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply !bg-base-100 rounded-xl !overflow-hidden;
}
.input,
.textarea,
.select {
  @apply bg-base-200 rounded-xl focus:outline-none w-full;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.prose pre code{
  @apply block text-left w-full;
}