@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  @apply italic text-primary;
}

.input,
.textarea,
.select {
  @apply w-full rounded-xl bg-base-200 focus:outline-none;
}

.text-title {
  @apply text-primary;
}


.btn-gradient {
  @apply border-none bg-gradient-to-r from-primary to-secondary text-white;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.prose pre code {
  @apply block w-full text-left;
}
.blog * {
  color: white !important;
}
